<!DOCTYPE html> 
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenido</title>
        <link rel="stylesheet" type="text/css" href="../css/ver-productos.css">
    </head>
    <body>
        <div id="desplegar-info">
            <p class="titulo">Información Producto(s)</p>
            <p class="bajada">Tipo:</p>
            <p class="texto">Frutas</p>
            <br><br>
            <p class="bajada">Producto(s):</p>
            <p class="texto">Cereza, Frambuesa, Frutilla, Naranja, Uva</p>
            <br><br>
            <p class="bajada">Región:</p>
            <p class="texto">Región Metropolitana</p>
            <br><br>
            <p class="bajada">Comuna:</p>
            <p class="texto">Huechuraba</p>
            <br><br>
            <p class="bajada">Foto Referencia:</p>
            <img id="foto-m" class="foto-medium" alt="Cereza, Frambuesa, Frutilla, Naranja, Uva, Calidad 640 por 480" src="../jpg/Cereza_Frambuesa_Frutilla_Naranja_Uva_640x480.jpg">
            <img id="foto-l" class="foto-large" alt="Cereza, Frambuesa, Frutilla, Naranja, Uva, Calidad 1280 por 1024" src="../jpg/Cereza_Frambuesa_Frutilla_Naranja_Uva_1280x1024.jpg">
        </div>
        <script src="../js/informacion-producto.js"></script>
    </body>
</html>