:root {
    --color-borde: #555555;
  }
  
  html, body {
    background-color: #f0f0f0;
  }

  .boton {
    background-color: #ffc354;
    border: 2px solid #ffad14;
    border-radius: 6px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
    margin-right: 10px;
    width: 150px;
  }

  .boton:hover {
    background-color: #ffad14;
  }
  
  .bajada {
    text-align: center;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: bold;
    color: black;
  }

  .container {
    border: 50px solid #ff6347;
    box-shadow: 0px 2px 3px #d0cccc,
                0px 4px 6px #d0cccc,
                0px 6px 9px #d0cccc,
                0px 8px 12px #d0cccc;
    height: 50%;
    max-width: 700px;
    margin: 2% auto;
    padding: 2rem;
    padding-top: .5rem;
    text-align: center;
    background-color: var(--color-fondo);
  }

  .logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #logo-id {
    border: 2px solid var(--color-borde);
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .titulo {
    text-align: center;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: bold;
    color: black;
  }